@use '/src/components/variables' as v;


.header__cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
  }

  a {
    text-decoration: none;
    color: v.$color4;
    font-size: 12px;
    margin-left: 5px;
  }:hover {
       text-decoration: underline;
     }
}

.cart__icon {
  position: relative;
  left: 25px;
  img {
    position: absolute;
    right: 5px;
    top: 1px;
    z-index: -1;
    margin-right: 5px;
  }
}

.cart__count {
  height: 22px;
  width: 22px;
  border: 2px solid v.$color2;
  border-radius: 15px;
  background-color: v.$color5;
  color: v.$color2;
}