@use '/src/components/variables' as v;

.admin__wrapper {
  display: flex;
  flex-direction: column;
}
.admin__intro {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.admin__main {
  display: flex;
  justify-content: space-evenly;

}

.admin__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin__cards {
  display: grid;
  margin-top: 20px;
  grid-template-rows: 530px;
  grid-template-columns: 330px 330px;
  gap: 20px;
  margin-left: 90px;
}