@use '/src/components/variables' as v;


.catalogCard {
  width: 326px;
  height: 490px;

  background: v.$color2;
  box-shadow: 0 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  border: 1px solid blue;
  margin-right: 20px;
}