@use '/src/components/variables' as v;

.footer__background {
  background-color: v.$color4;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  height: 500px;
  background-color: v.$color4;
  color: v.$color2;
  ul {
    text-align: left;
    list-style-type: none;
  };
  li {
    margin-top: 20px;
  };
  a {
    color: v.$color2;
    font-size: 14px;
    text-decoration: none;
  }
}

.footer__info {
  text-align: left;
  width: 320px;
  margin-top: 70px;
  p {
    margin-bottom: 45px;
  };
}

.footer__column {
  margin-top: 70px;
}

.footer__cta {
  text-align: left;
  a {
    text-align: left;
  }

}

.footer__icons {
  img {
    margin-top: 15px;
    margin-right: 10px;
  }
}
